@import '../../../static/variables';

.floating-label {
  &__content {
    position: relative;
    margin-bottom: 20px;
  }

  &__icon {
    width: 20px;
    height: 20px;

    position: absolute;
    left: 87%;
    top: 9px;
  }
}
.did-floating-label {
  color: $text-light-color;
  font: $font-small;
  background-color: $background-color;

  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;

  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.did-floating-input,
.did-floating-select {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 40px 0 20px;
  background: #fff;
  color: #323840;
  border: 1px solid $border-color;
  border-radius: 21px;
  box-sizing: border-box;

  &:focus {
    outline:none;
    ~.did-floating-label{
      top:-7px;
    }
  }
}
