<div class='col menu'>
  <img class="avatar menu__avatar" alt='avatar' src=''>
  {{> ButtonIcon text='Меню' icon='./icons/menu-icon.png' }}
  {{> ButtonIcon page='chat' text='Все' icon='./icons/chat-icon.png' }}
  {{> ButtonIcon page='profile' text='Профиль' icon='./icons/profile-icon.png' }}
</div>
