<div class='col menu'>
  <img class="avatar menu__avatar" alt='avatar' src=''>
  {{> ButtonIcon text="Меню" icon="../../../static/menu-icon.png" }}
  {{> ButtonIcon page="chat" text="Все" icon="../../../static/chat-icon.png" }}
  {{> ButtonIcon page="profile" text="Профиль" icon="../../../static/profile-icon.png" }}
</div>
