@import '@/shared/variables';

.menu_el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  &:hover {
    background-color: $button-bgcolor;
    color: $text-bgcolor;
    border-radius: 21px;

    button {
      background-color: $button-bgcolor;
      color: $text-bgcolor;
    }
  }
}
