<div class='button-icon'>
  <img class='button-icon__img' src='{{icon}}' page='{{page}}' alt='Button icon image' />
  <button class='button-icon__button' page='{{page}}'>
    {{text}}
  </button>
</div>
