<div class="profile-page">
  {{> Menu }}

  <div class='profile-page__content'>
    <img class='profile-page__avatar' src='' alt="avatar">
    <div class='profile-page__fields'>
      {{> InputField title="Почта" name="email" }}
      {{> InputField title="Логин" name="login" }}
      {{> InputField title="Имя" name="first_name" }}
      {{> InputField title="Фамилия" name="second_name" }}
      {{> InputField title="Телефон" name="phone" }}
    </div>

    <div class='profile-page__button'>
      {{> Button text="Сохранить" page="profile"}}
    </div>
  </div>
</div>
