<div class="profile-page">
  {{> Menu }}

  <div class='profile-page__content'>
    <img class='profile-page__avatar' src=''>
    <div class='profile-page__fields'>
      {{> InputField title="Почта" name="mail" }}
      {{> InputField title="Логин" name="login" }}
      {{> InputField title="Имя" name="name" }}
      {{> InputField title="Фамилия" name="surname" }}
      {{> InputField title="Телефон" name="phone" }}
    </div>

    {{> Link className='link__light' page="profile-data" text="Изменить данные"}}
    {{> Link className='link__light' page="change-password" text="Изменить пароль"}}
    {{> Link page="AuthPage" text="Выйти"}}
  </div>
</div>
