<div class='chat-page'>
  {{> Menu }}
  {{#> ChatList }}
    {{#each (chat-page-list) }}
      {{> ChatItem }}
    {{/each }}
  {{/ ChatList }}
  <div class='col full-width'>
    {{> ChatMessage}}
  </div>
</div>
