<div class='chat-page'>
  {{> Menu }}
  {{#> ChatList }}
    {{#each (chat-page-list) }}
      {{> ChatItem }}
    {{/each }}
  {{/ ChatList }}
    <div class='col'>
      {{> Link page='auth' text='К логину' }}
      {{> Link page='error-500' text='К странице 500' }}
      {{> Link page='error-4xx' text='К странице 4xx' }}
    </div>
</div>
