@import '@/shared/variables';

.chat-page {
  height: 100%;
  width: 100%;
  display: flex;
}

.chat-list {
  background: $chat-list-bgcolor;
  width: 30%;
  overflow: auto;

  padding: 2rem 2rem 0 0;
}
