@import 'variables';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font: $font-regular;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-size: inherit;
  line-height: inherit;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 100px;
}

.avatar {
  background: $gray-light-color;
  height: 47px;
  width: 47px;
  border-radius: 50%;
}

.col {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.flex-end {
  display: flex;
  align-items: end;
  justify-content: end;
}

.profile-page {
  height: 100%;
  width: 100%;
  margin: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__avatar {
    background: $gray-light-color;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    margin-bottom: 3rem;
  }

  &__fields {
    width: 280px;
  }

  &__button {
    width: 280px;
  }
}
