<div class='menu_el' onclick={{this.onClick}}>
  <div class='button-icon__img'>
    <img class='button-icon__img' src='{{icon}}' alt='Button icon image' />
  </div>
  <button class='button-icon__button'>{{this.name}}</button>
</div>
