<div class='chat-message-header'>
  <div class='chat-message-header__user-info'>
    <div class='chat-message-header__avatar'></div>
    <h1 class='chat-message-header__name'>Вадим</h1>
  </div>

  <img
    class='chat-message-header__menu-icon'
    src='./icons/pencil-dots-y-icon.png'
    alt='pencil-dots-y-icon'
  />
</div>
