@import '@/shared/variables';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font: $font-regular;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-size: inherit;
  line-height: inherit;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 100px;
}

.avatar {
  background: $gray-light-color;
  height: 47px;
  width: 47px;
  border-radius: 50%;
}

.col {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.flex-end {
  display: flex;
  align-items: end;
  justify-content: end;
}

.profile-page {
  height: 100%;
  width: 100%;
  display: flex;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__avatar {
    background: $gray-light-color;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    margin-bottom: 3rem;
  }

  &__fields {
    width: 280px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__button {
    width: 73%;
  }
}

.menu {
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem 0 2rem;

  &__avatar {
    margin-bottom: 1rem;
  }
}

.button-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__button {
    width: 100%;
    text-align: center;
    border-radius: 21px;
    font: $font-small;
    background-color: $text-bgcolor;
    color: $border-color;
    border: 0;
    cursor: pointer;

    &-color {
      background-color: $button-bgcolor;

      width: 39px;
      height: 39px;
      text-align: center;
      border-radius: 50%;
      border: 0;
    }
  }

  &__img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.input-search {
  display: flex;
  align-items: center;
  width: 100%;

  &__icon {
    width: 20px;
    height: 20px;

    margin-left: 10px;
    position: absolute;
  }

  &__input {
    padding: 10px 20px 10px 30px;

    border: none;
    background-color: $gray-light-color;

    width: 100%;

    border-radius: 30px;

    &:focus {
      border: none;
    }
  }
}

.chat-list {
  background: $chat-list-bgcolor;
  width: 30%;
  overflow: auto;

  padding: 2rem 2rem 0 0;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.full-block {
  width: 100%;
  height: 100%;
}

.validation {
  margin-top: 5px;

  font: $font-micro;
  color: $chat-message-my-time-color;
}

.page-title {
  font: $font-title;
  text-align: center;
  margin: 0;
  color: $title-color;
}

.container {
  width: 240px;
  margin: 0 auto;

  &__icon {
    width: 20px;
    height: 20px;

    position: absolute;
    left: 87%;
    top: 9px;
  }
}
.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}
.did-floating-label {
  color: $text-light-color;
  font: $font-small;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.did-floating-input,
.did-floating-select {
  font-size: 12px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 20px;
  background: #fff;
  color: #323840;
  border: 1px solid $border-color;
  border-radius: 21px;
  box-sizing: border-box;
  &:focus {
    outline: none;
    ~ .did-floating-label {
      top: -8px;
      font-size: 13px;
    }
  }
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top: -8px;
  font-size: 13px;
}

.input-group {
  display: flex;
  .did-floating-input {
    border-radius: 21px;
    border-left: 0;
    padding-left: 0;
  }
}
.input-group-append {
  display: flex;
  align-items: center;
}
.input-group-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 34px;
  color: #323840;
  padding: 0 5px 0 20px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #3d85d8;
  border-radius: 21px;
  border-right: none;
}

.message-item {
  display: flex;
  flex-direction: row;

  &_in {
    width: auto;
    max-width: 50%;

    background-color: $chat-list-bgcolor;
    padding: 1rem;
    border-radius: 1rem;

    font: $font-small;

    &__time {
      margin-top: 1rem;

      font: $font-nano;
      color: $text-light-color;
      text-align: end;
    }
  }

  &_out {
    width: auto;
    max-width: 50%;

    background-color: $chat-list-bgcolor;
    padding: 1rem;
    border-radius: 1rem;

    font: $font-small;
  }
}

.main {
  height: 100%;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.chat-message {
  width: 60%;
  height: 100%;
  background-color: $gray-light-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    flex-shrink: 0;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 10rem;

    overflow: auto;
    margin: 1rem;

    &_bottom {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      margin-top: auto;
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}
