<div class='chat-page'>
  <div class='chat-list'>
    <div class="full-width">
      {{{search}}}
    </div>

    {{#each chatsList}}
      {{{this}}}
    {{/each}}
  </div>

  {{{chatMessage}}}
</div>
