@import '../../shared/variables';

.link {
  border: none;
  background-color: white;
  font: $font-small;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
  text-align: center;
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &__light {
    color: $button-bgcolor;
  }
}
